In [1]:
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt

In [2]:
all_results = pd.read_excel('../../../src/data/data/CSV_files/All_Results.xlsx')
all_results

,Columns_combined,Label,Category,Column,per_type_instance,Small_F1_Score,Medium_F1_Score,Large_F1_Score,Tinybert,Roberta,bert,distilbert
0,Product.worstrating,0.0,Product,worstrating,300000,0.8923,0.9355,0.9355,0.967742,0.967742,0.967742,0.967742
1,Restaurant.acceptsreservations,1.0,Restaurant,acceptsreservations,40000,0.6667,0.5714,0.7500,0.750000,0.250000,0.250000,0.750000
2,Person.additionalname,2.0,Person,additionalname,1640000,0.8095,0.9150,0.9664,0.939024,0.951220,0.957317,0.951220
3,Product.additionalproperty,3.0,Product,additionalproperty,1300000,0.7984,0.8685,0.9183,0.928058,0.956835,0.956835,0.949640
4,Hotel.address,4.0,Hotel,address,1100000,0.6393,0.7798,0.9099,0.472727,0.636364,0.590909,0.600000
...,...,...,...,...,...,...,...,...,...,...,...,...
202,Event.eventattendancemode,NaN,Event,eventattendancemode,2420000,0.9796,0.9896,0.9877,NaN,NaN,NaN,NaN
203,Event.eventstatus,NaN,Event,eventstatus,2850000,0.9757,0.9912,0.9965,NaN,NaN,NaN,NaN
204,MusicRecording.inalbum,NaN,MusicRecording,inalbum,9240000,0.8879,0.9288,0.9597,NaN,NaN,NaN,NaN
205,LocalBusiness.owns,NaN,LocalBusiness,owns,10000,0.0000,0.0000,0.0000,NaN,NaN,NaN,NaN
206,Event.performer,NaN,Event,performer,7230000,0.9577,0.9588,0.9684,NaN,NaN,NaN,NaN

In [3]:
#add column to check whether F1 Score is larger for TURL compared to Tinybert, Roberta, Bert & Distilbert 
all_results['tinybert_vs_turl'] = np.where(all_results['Large_F1_Score']>=all_results['Tinybert'], True, False)
all_results['roberta_vs_turl'] = np.where(all_results['Large_F1_Score']>=all_results['Roberta'], True, False)
all_results['bert_vs_turl'] = np.where(all_results['Large_F1_Score']>=all_results['bert'], True, False)
all_results['distilbert_vs_turl'] = np.where(all_results['Large_F1_Score']>=all_results['distilbert'], True, False)
all_results

,Columns_combined,Label,Category,Column,per_type_instance,Small_F1_Score,Medium_F1_Score,Large_F1_Score,Tinybert,Roberta,bert,distilbert,tinybert_vs_turl,roberta_vs_turl,bert_vs_turl,distilbert_vs_turl
0,Product.worstrating,0.0,Product,worstrating,300000,0.8923,0.9355,0.9355,0.967742,0.967742,0.967742,0.967742,False,False,False,False
1,Restaurant.acceptsreservations,1.0,Restaurant,acceptsreservations,40000,0.6667,0.5714,0.7500,0.750000,0.250000,0.250000,0.750000,True,True,True,True
2,Person.additionalname,2.0,Person,additionalname,1640000,0.8095,0.9150,0.9664,0.939024,0.951220,0.957317,0.951220,True,True,True,True
3,Product.additionalproperty,3.0,Product,additionalproperty,1300000,0.7984,0.8685,0.9183,0.928058,0.956835,0.956835,0.949640,False,False,False,False
4,Hotel.address,4.0,Hotel,address,1100000,0.6393,0.7798,0.9099,0.472727,0.636364,0.590909,0.600000,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,Event.eventattendancemode,NaN,Event,eventattendancemode,2420000,0.9796,0.9896,0.9877,NaN,NaN,NaN,NaN,False,False,False,False
203,Event.eventstatus,NaN,Event,eventstatus,2850000,0.9757,0.9912,0.9965,NaN,NaN,NaN,NaN,False,False,False,False
204,MusicRecording.inalbum,NaN,MusicRecording,inalbum,9240000,0.8879,0.9288,0.9597,NaN,NaN,NaN,NaN,False,False,False,False
205,LocalBusiness.owns,NaN,LocalBusiness,owns,10000,0.0000,0.0000,0.0000,NaN,NaN,NaN,NaN,False,False,False,False
206,Event.performer,NaN,Event,performer,7230000,0.9577,0.9588,0.9684,NaN,NaN,NaN,NaN,False,False,False,False

### Column Types where TURL performs same or better than all baseline models
##### for the large train set

In [4]:
#only show column types where the F1 Score of TURL for the large train set is larger than all baselines
all_results[(all_results['tinybert_vs_turl']==True) & (all_results['bert_vs_turl']==True) & (all_results['roberta_vs_turl']==True) & (all_results['distilbert_vs_turl']==True)]

,Columns_combined,Label,Category,Column,per_type_instance,Small_F1_Score,Medium_F1_Score,Large_F1_Score,Tinybert,Roberta,bert,distilbert,tinybert_vs_turl,roberta_vs_turl,bert_vs_turl,distilbert_vs_turl
1,Restaurant.acceptsreservations,1.0,Restaurant,acceptsreservations,40000,0.6667,0.5714,0.7500,0.750000,0.250000,0.250000,0.750000,True,True,True,True
2,Person.additionalname,2.0,Person,additionalname,1640000,0.8095,0.9150,0.9664,0.939024,0.951220,0.957317,0.951220,True,True,True,True
4,Hotel.address,4.0,Hotel,address,1100000,0.6393,0.7798,0.9099,0.472727,0.636364,0.590909,0.600000,True,True,True,True
5,LocalBusiness.address,5.0,LocalBusiness,address,3710000,0.8171,0.9008,0.9399,0.708895,0.916442,0.905660,0.894879,True,True,True,True
6,Person.address,6.0,Person,address,620000,0.4330,0.7023,0.8197,0.338710,0.177419,0.241935,0.209677,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Product.title,194.0,Product,title,290000,0.6250,0.6275,0.8302,0.593750,0.562500,0.625000,0.656250,True,True,True,True
195,Recipe.totaltime,195.0,Recipe,totaltime,4880000,0.7112,0.7940,0.8857,0.805328,0.854508,0.831967,0.848361,True,True,True,True
197,Event.typicalagerange,197.0,Event,typicalagerange,160000,0.8966,0.9697,1.0000,1.000000,0.937500,1.000000,1.000000,True,True,True,True
198,CreativeWork.version,198.0,CreativeWork,version,160000,0.3158,0.7586,0.8485,0.625000,0.562500,0.625000,0.500000,True,True,True,True
199,Person.weight,199.0,Person,weight,590000,0.9217,0.9739,0.9744,0.932203,0.932203,0.949153,0.949153,True,True,True,True

### Column Types where TURL performs worse than all baseline models
##### for the large train set

In [5]:
#only show column types where the F1 Score of TURL for the large train set is smaller than all baselines
all_results[(all_results['tinybert_vs_turl']==False) & (all_results['bert_vs_turl']==False) & (all_results['roberta_vs_turl']==False) & (all_results['distilbert_vs_turl']==False)]

,Columns_combined,Label,Category,Column,per_type_instance,Small_F1_Score,Medium_F1_Score,Large_F1_Score,Tinybert,Roberta,bert,distilbert,tinybert_vs_turl,roberta_vs_turl,bert_vs_turl,distilbert_vs_turl
0,Product.worstrating,0.0,Product,worstrating,300000,0.8923,0.9355,0.9355,0.967742,0.967742,0.967742,0.967742,False,False,False,False
3,Product.additionalproperty,3.0,Product,additionalproperty,1300000,0.7984,0.8685,0.9183,0.928058,0.956835,0.956835,0.949640,False,False,False,False
28,Product.availability,28.0,Product,availability,260000,0.7500,0.9231,0.9259,0.964286,0.964286,0.964286,0.964286,False,False,False,False
29,Product.bestrating,29.0,Product,bestrating,360000,0.8219,0.8537,0.8947,0.972973,0.972973,0.972973,0.972973,False,False,False,False
33,Book.bookformat,33.0,Book,bookformat,290000,0.7667,0.8197,0.8621,0.896552,0.965517,0.896552,0.931034,False,False,False,False
43,LocalBusiness.contactpoint,43.0,LocalBusiness,contactpoint,550000,0.7167,0.8099,0.9009,0.981818,0.981818,0.981818,0.981818,False,False,False,False
47,CreativeWork.copyrightholder,47.0,CreativeWork,copyrightholder,120000,0.0000,0.2222,0.1333,0.166667,0.333333,0.166667,0.333333,False,False,False,False
68,Event.enddate,68.0,Event,enddate,9780000,0.7717,0.8138,0.9353,0.964213,0.971370,0.974438,0.970348,False,False,False,False
75,Book.genre,75.0,Book,genre,150000,0.7857,0.7097,0.8276,0.866667,0.933333,0.933333,0.933333,False,False,False,False
77,MusicRecording.genre,77.0,MusicRecording,genre,150000,0.4348,0.6250,0.6286,0.866667,0.866667,0.866667,0.933333,False,False,False,False
83,Person.givenname,83.0,Person,givenname,2400000,0.9041,0.9407,0.9474,0.966667,0.975000,0.975000,0.966667,False,False,False,False
89,LocalBusiness.hasmap,89.0,LocalBusiness,hasmap,180000,0.6429,0.6429,0.5946,0.666667,0.666667,0.666667,0.666667,False,False,False,False
99,Book.inlanguage,99.0,Book,inlanguage,230000,0.6349,0.8980,0.8462,0.956522,0.956522,0.913043,0.956522,False,False,False,False
102,CreativeWork.interactionstatistic,102.0,CreativeWork,interactionstatistic,1220000,0.9721,0.9879,0.9959,1.000000,1.000000,1.000000,1.000000,False,False,False,False
108,Product.itemcondition,108.0,Product,itemcondition,6500000,0.9599,0.9800,0.9794,0.995549,0.985163,0.997033,0.997033,False,False,False,False
120,Recipe.mainentityofpage,120.0,Recipe,mainentityofpage,2440000,0.8200,0.8385,0.8269,0.946721,0.987705,0.983607,0.967213,False,False,False,False
127,Product.mpn,127.0,Product,mpn,19880000,0.5417,0.6085,0.6786,0.809432,0.891242,0.882098,0.882098,False,False,False,False
143,Recipe.nutrition,143.0,Recipe,nutrition,2990000,0.9967,0.9967,0.9950,0.996656,1.000000,1.000000,1.000000,False,False,False,False
148,LocalBusiness.openinghours,148.0,LocalBusiness,openinghours,920000,0.7814,0.8889,0.9184,0.934783,0.978261,1.000000,0.989130,False,False,False,False
155,LocalBusiness.paymentaccepted,155.0,LocalBusiness,paymentaccepted,150000,0.6429,0.8571,0.9677,1.000000,1.000000,1.000000,1.000000,False,False,False,False
169,Product.ratingvalue,169.0,Product,ratingvalue,370000,0.6824,0.6988,0.7467,0.794872,0.846154,0.820513,0.871795,False,False,False,False
170,Recipe.recipecategory,170.0,Recipe,recipecategory,4500000,0.8984,0.9311,0.9361,0.946667,0.960000,0.951111,0.966667,False,False,False,False
173,Recipe.recipeinstructions,173.0,Recipe,recipeinstructions,6960000,0.9573,0.9751,0.9771,0.988506,0.987069,0.991379,0.991379,False,False,False,False
177,Product.review,177.0,Product,review,8500000,0.9133,0.9257,0.9546,0.960227,0.972727,0.978409,0.972727,False,False,False,False
181,LocalBusiness.sameas,181.0,LocalBusiness,sameas,480000,0.6140,0.8041,0.8247,0.833333,0.854167,0.854167,0.895833,False,False,False,False
200,Product.offerdetails,200.0,Product,offerdetails,30000,0.0000,0.0000,0.0000,0.926396,0.941624,0.944162,0.944162,False,False,False,False
201,LocalBusiness.founder,201.0,LocalBusiness,founder,20000,0.0000,0.0000,0.0000,NaN,NaN,NaN,NaN,False,False,False,False
202,Event.eventattendancemode,NaN,Event,eventattendancemode,2420000,0.9796,0.9896,0.9877,NaN,NaN,NaN,NaN,False,False,False,False
203,Event.eventstatus,NaN,Event,eventstatus,2850000,0.9757,0.9912,0.9965,NaN,NaN,NaN,NaN,False,False,False,False
204,MusicRecording.inalbum,NaN,MusicRecording,inalbum,9240000,0.8879,0.9288,0.9597,NaN,NaN,NaN,NaN,False,False,False,False
205,LocalBusiness.owns,NaN,LocalBusiness,owns,10000,0.0000,0.0000,0.0000,NaN,NaN,NaN,NaN,False,False,False,False
206,Event.performer,NaN,Event,performer,7230000,0.9577,0.9588,0.9684,NaN,NaN,NaN,NaN,False,False,False,False

### Column Types where TURL performs better than Tinybert

In [6]:
#only show column types where the F1 Score of TURL for the large train set is larger than all baselines
all_results[(all_results['tinybert_vs_turl']==True)]

,Columns_combined,Label,Category,Column,per_type_instance,Small_F1_Score,Medium_F1_Score,Large_F1_Score,Tinybert,Roberta,bert,distilbert,tinybert_vs_turl,roberta_vs_turl,bert_vs_turl,distilbert_vs_turl
1,Restaurant.acceptsreservations,1.0,Restaurant,acceptsreservations,40000,0.6667,0.5714,0.7500,0.750000,0.250000,0.250000,0.750000,True,True,True,True
2,Person.additionalname,2.0,Person,additionalname,1640000,0.8095,0.9150,0.9664,0.939024,0.951220,0.957317,0.951220,True,True,True,True
4,Hotel.address,4.0,Hotel,address,1100000,0.6393,0.7798,0.9099,0.472727,0.636364,0.590909,0.600000,True,True,True,True
5,LocalBusiness.address,5.0,LocalBusiness,address,3710000,0.8171,0.9008,0.9399,0.708895,0.916442,0.905660,0.894879,True,True,True,True
6,Person.address,6.0,Person,address,620000,0.4330,0.7023,0.8197,0.338710,0.177419,0.241935,0.209677,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Recipe.totaltime,195.0,Recipe,totaltime,4880000,0.7112,0.7940,0.8857,0.805328,0.854508,0.831967,0.848361,True,True,True,True
196,MusicAlbum.track,196.0,MusicAlbum,track,240000,0.6087,0.7755,0.8846,0.875000,0.916667,0.916667,0.875000,True,False,False,True
197,Event.typicalagerange,197.0,Event,typicalagerange,160000,0.8966,0.9697,1.0000,1.000000,0.937500,1.000000,1.000000,True,True,True,True
198,CreativeWork.version,198.0,CreativeWork,version,160000,0.3158,0.7586,0.8485,0.625000,0.562500,0.625000,0.500000,True,True,True,True
199,Person.weight,199.0,Person,weight,590000,0.9217,0.9739,0.9744,0.932203,0.932203,0.949153,0.949153,True,True,True,True

### Column Types where TURL performs whorse than Tinybert

In [7]:
#only show column types where the F1 Score of TURL for the large train set is larger than all baselines
all_results[(all_results['tinybert_vs_turl']==False)]

,Columns_combined,Label,Category,Column,per_type_instance,Small_F1_Score,Medium_F1_Score,Large_F1_Score,Tinybert,Roberta,bert,distilbert,tinybert_vs_turl,roberta_vs_turl,bert_vs_turl,distilbert_vs_turl
0,Product.worstrating,0.0,Product,worstrating,300000,0.8923,0.9355,0.9355,0.967742,0.967742,0.967742,0.967742,False,False,False,False
3,Product.additionalproperty,3.0,Product,additionalproperty,1300000,0.7984,0.8685,0.9183,0.928058,0.956835,0.956835,0.949640,False,False,False,False
20,CreativeWork.alternativeheadline,20.0,CreativeWork,alternativeheadline,890000,0.2239,0.4260,0.5300,0.640449,0.044944,0.033708,0.033708,False,True,True,True
28,Product.availability,28.0,Product,availability,260000,0.7500,0.9231,0.9259,0.964286,0.964286,0.964286,0.964286,False,False,False,False
29,Product.bestrating,29.0,Product,bestrating,360000,0.8219,0.8537,0.8947,0.972973,0.972973,0.972973,0.972973,False,False,False,False
33,Book.bookformat,33.0,Book,bookformat,290000,0.7667,0.8197,0.8621,0.896552,0.965517,0.896552,0.931034,False,False,False,False
43,LocalBusiness.contactpoint,43.0,LocalBusiness,contactpoint,550000,0.7167,0.8099,0.9009,0.981818,0.981818,0.981818,0.981818,False,False,False,False
47,CreativeWork.copyrightholder,47.0,CreativeWork,copyrightholder,120000,0.0000,0.2222,0.1333,0.166667,0.333333,0.166667,0.333333,False,False,False,False
50,CreativeWork.datecreated,50.0,CreativeWork,datecreated,1040000,0.3125,0.4885,0.4505,0.490385,0.240385,0.336538,0.192308,False,True,True,True
60,Product.depth,60.0,Product,depth,1630000,0.3158,0.2817,0.3473,0.476744,0.290698,0.075581,0.255814,False,True,True,True
61,Product.disambiguatingdescription,61.0,Product,disambiguatingdescription,110000,0.0000,0.0000,0.2000,0.250000,0.250000,0.083333,0.333333,False,False,True,False
68,Event.enddate,68.0,Event,enddate,9780000,0.7717,0.8138,0.9353,0.964213,0.971370,0.974438,0.970348,False,False,False,False
75,Book.genre,75.0,Book,genre,150000,0.7857,0.7097,0.8276,0.866667,0.933333,0.933333,0.933333,False,False,False,False
77,MusicRecording.genre,77.0,MusicRecording,genre,150000,0.4348,0.6250,0.6286,0.866667,0.866667,0.866667,0.933333,False,False,False,False
83,Person.givenname,83.0,Person,givenname,2400000,0.9041,0.9407,0.9474,0.966667,0.975000,0.975000,0.966667,False,False,False,False
89,LocalBusiness.hasmap,89.0,LocalBusiness,hasmap,180000,0.6429,0.6429,0.5946,0.666667,0.666667,0.666667,0.666667,False,False,False,False
99,Book.inlanguage,99.0,Book,inlanguage,230000,0.6349,0.8980,0.8462,0.956522,0.956522,0.913043,0.956522,False,False,False,False
102,CreativeWork.interactionstatistic,102.0,CreativeWork,interactionstatistic,1220000,0.9721,0.9879,0.9959,1.000000,1.000000,1.000000,1.000000,False,False,False,False
108,Product.itemcondition,108.0,Product,itemcondition,6500000,0.9599,0.9800,0.9794,0.995549,0.985163,0.997033,0.997033,False,False,False,False
120,Recipe.mainentityofpage,120.0,Recipe,mainentityofpage,2440000,0.8200,0.8385,0.8269,0.946721,0.987705,0.983607,0.967213,False,False,False,False
125,Restaurant.menu,125.0,Restaurant,menu,20000,0.0000,0.0000,0.0000,0.500000,0.000000,0.000000,0.000000,False,True,True,True
127,Product.mpn,127.0,Product,mpn,19880000,0.5417,0.6085,0.6786,0.809432,0.891242,0.882098,0.882098,False,False,False,False
140,Person.nationality,140.0,Person,nationality,590000,0.7890,0.8696,0.8595,0.864407,0.830508,0.830508,0.847458,False,True,True,True
143,Recipe.nutrition,143.0,Recipe,nutrition,2990000,0.9967,0.9967,0.9950,0.996656,1.000000,1.000000,1.000000,False,False,False,False
148,LocalBusiness.openinghours,148.0,LocalBusiness,openinghours,920000,0.7814,0.8889,0.9184,0.934783,0.978261,1.000000,0.989130,False,False,False,False
155,LocalBusiness.paymentaccepted,155.0,LocalBusiness,paymentaccepted,150000,0.6429,0.8571,0.9677,1.000000,1.000000,1.000000,1.000000,False,False,False,False
169,Product.ratingvalue,169.0,Product,ratingvalue,370000,0.6824,0.6988,0.7467,0.794872,0.846154,0.820513,0.871795,False,False,False,False
170,Recipe.recipecategory,170.0,Recipe,recipecategory,4500000,0.8984,0.9311,0.9361,0.946667,0.960000,0.951111,0.966667,False,False,False,False
173,Recipe.recipeinstructions,173.0,Recipe,recipeinstructions,6960000,0.9573,0.9751,0.9771,0.988506,0.987069,0.991379,0.991379,False,False,False,False
177,Product.review,177.0,Product,review,8500000,0.9133,0.9257,0.9546,0.960227,0.972727,0.978409,0.972727,False,False,False,False
181,LocalBusiness.sameas,181.0,LocalBusiness,sameas,480000,0.6140,0.8041,0.8247,0.833333,0.854167,0.854167,0.895833,False,False,False,False
200,Product.offerdetails,200.0,Product,offerdetails,30000,0.0000,0.0000,0.0000,0.926396,0.941624,0.944162,0.944162,False,False,False,False
201,LocalBusiness.founder,201.0,LocalBusiness,founder,20000,0.0000,0.0000,0.0000,NaN,NaN,NaN,NaN,False,False,False,False
202,Event.eventattendancemode,NaN,Event,eventattendancemode,2420000,0.9796,0.9896,0.9877,NaN,NaN,NaN,NaN,False,False,False,False
203,Event.eventstatus,NaN,Event,eventstatus,2850000,0.9757,0.9912,0.9965,NaN,NaN,NaN,NaN,False,False,False,False
204,MusicRecording.inalbum,NaN,MusicRecording,inalbum,9240000,0.8879,0.9288,0.9597,NaN,NaN,NaN,NaN,False,False,False,False
205,LocalBusiness.owns,NaN,LocalBusiness,owns,10000,0.0000,0.0000,0.0000,NaN,NaN,NaN,NaN,False,False,False,False
206,Event.performer,NaN,Event,performer,7230000,0.9577,0.9588,0.9684,NaN,NaN,NaN,NaN,False,False,False,False